:root {
    --bg-color: #efeff5;
    --main-color: rgb(25, 146, 212);
}

body {
    background-color: var(--bg-color);
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    margin-left: 25rem;
}

.sidenav {
    background-color: var(--main-color);
    width: 25rem;
    height: 100%;
    z-index: 1;
    top: 0;
    left: 0;
    position: fixed;
    overflow-x: hidden;
    color: white;
    font-size: larger;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.sidenav > li {
    display: flex;
    align-items: center;
    font-size: x-large;
    gap: 1rem;
    padding-left: 1rem;
    padding-top: 1rem;
}

ul {
    margin: 0;
    padding: 0;
    padding-left: 2rem;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

li {
    list-style-type: none;
}

a {
    display: flex;
    gap: 1rem;
    text-decoration: none;
    color: white;
}

.profile_picture {
    border-radius: 50%;
}

.header {
    background-color: white;
}

.top_header {
    display: grid;
    grid-template-columns: 25px 1fr 100px 50px 150px;
    gap: 20px;
    align-items: center;
    padding: 10px 30px;
}

.top_header > img:nth-child(3) {
    justify-self: end;
}

input {
    height: 25px;
    border-radius: 1rem;
    border: none;
    background-color: var(--bg-color);
}

.bottom_header {
    display: grid;
    grid-template-columns: 75px 1fr 100px 100px 100px;
    align-items: center;
    gap: 50px;
    padding: 1rem 3rem;
}

.greeting {
    font-size: 1rem;
    font-weight: bold;
}

.greeting p:nth-child(2) {
    font-size: 2rem;
}

p {
    margin: 0;
    padding: 0;
}

button {
    background-color: var(--main-color);
    color: white;
    border: none;
    height: 40px;
    width: 100px;
    border-radius: 32px;
    font-size: medium;
    font-weight: bold;
}

.container {
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 2fr 1fr;
    gap: 50px;
    padding: 1rem;
}

.grid1 {
    grid-row: span 2;
}

.title {
    padding: 10px;
}

.projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.card {
    background-color: white;
    border-radius: 16px;
    box-shadow: inset 5px 0px gold;
    display: grid;
    gap: 10px;
    grid-template-rows: auto auto 50px;
    padding: 24px;
}

.card-images {
    align-self: end;
    display: flex;
    justify-content: end;
    gap: 20px;
}

h1 {
    font-size: 24px;
    margin: 0;
    padding: 0;
}

.announcements {
    background-color: white;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    padding: 30px 20px;
    border-radius: 16px;
}

.announcements div {
    padding-left: 10px;
    padding-right: 10px;
}

.announcements div:nth-child(2), .announcements div:nth-child(3) {
    border-top: 1px solid black;
    padding-top: 20px;
    padding-bottom: 20px;
}

.trending {
    background-color: white;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 20px;
    padding: 30px 20px;
    border-radius: 16px;
}

.trending div {
    display: grid;
    grid-template-columns: 50px 1fr;
    grid-template-rows: 25px 25px;
    column-gap: 20px;
}

.trending div img {
    grid-row: span 2;
}