:root {
    --bg-color: white;
    --main-color: rgb(25, 146, 212);
}

body {
    background-color: var(--bg-color);
    margin: 0;
}

main {
    margin-left: 200px;
}

.sidenav {
    background-color: var(--main-color);
    width: 200px;
    height: 100%;
    z-index: 1;
    top: 0;
    left: 0;
    position: fixed;
    overflow-x: hidden;
    color: white;
}


.header {
    background-color: aliceblue;
}

.top_header {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.bottom_header {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-flow: column;
}

.container {
    display: grid;
    grid-template-columns: 5fr 1fr;
}